.post-like-menu.pull-right
	-if(locals._user && post.user._id.toString() == locals._user._id.toString())
		button.btn.remove-post(type='button', data-id=post._id)
			i.icon-remove
	span.top-block-likes
		strong=post.comments
		a.btn.btn-small.approve
			i.icon-comment
	span.top-block-likes
		strong(class="like_" + post._id)=post.likes
		a.btn.btn-small.approve(data-id=post._id, data-data='like')
			i.icon-thumbs-up 
	span.top-block-dislikes
		strong(class="dislike_" + post._id)=post.dislikes
		a.btn.btn-small.approve(data-id=post._id, data-data='dislike')
			i.icon-thumbs-down